---
layout: global
---

<body>

<div class="header">
    <h1>
    <a class="firma" href="index.html"><img alt="Paloma Bordons" src="images/nav/firma.gif"></a>
    </h1>
    <div class="links">
        <a class="nav" id="contacto" href="contacto.html">
            <img alt="Contacto" src="images/nav/contacto.gif">
        </a>
        <a class="nav" id="leer" href="leer.html">
            <img alt="Para leer" src="images/nav/leer.gif">
        </a>
        <a class="nav" id="vida" href="vida.html">
            <img alt="Sobre m&iacute;" src="images/nav/vida.gif">
        </a>
        <a class="nav" id="prensa" href="prensa.html">
            <img alt="Prensa y novedades" src="images/nav/prensa.gif">
        </a>
        <a class="nav" id="mirar" href="mirar.html">
            <img alt="Para mirar" src="images/nav/mirar.gif">
        </a>
        <a class="nav" id="catar" href="catar.html">
            <img alt="Para catar" src="images/nav/catar.gif">
        </a>
    </div>
</div> 

<div class='content'>

    <div class="header-spacer"></div>

    {{ content }}

    <div class="footer-spacer"></div>

    <footer>
        <p class="centeralign">Ilustraciones y texto de Paloma Bordons </p>
    </footer>

</div>

</body>
