---
layout: global
---

<body>

<div class="header">
    <h1>
    <a class="firma" href="index.html"><img alt="Paloma Bordons" src="{{ site.images_dir }}/nav/firma.gif"></a>
    </h1>
    <div class="links">
        <a
            class="nav {% if page.name == 'contacto.html' %}active{% endif %}"
            id="contacto" href="contacto.html"
        >
            <img alt="Contacto" src="{{ site.images_dir }}/nav/contacto.gif">
        </a>
        <a 
            class="nav {% if page.name == 'leer.html' %}active{% endif %}"
            id="leer" href="leer.html"
        >
            <img alt="Para leer" src="{{ site.images_dir }}/nav/leer.gif">
        </a>
        <a
            class="nav {% if page.name == 'vida.html' %}active{% endif %}"
            id="vida" href="vida.html"
        >
            <img alt="Sobre m&iacute;" src="{{ site.images_dir }}/nav/vida.gif">
        </a>
        <a
            class="nav {% if page.name == 'prensa.html' %}active{% endif %}"
            id="prensa" href="prensa.html"
        >
            <img alt="Prensa y novedades" src="{{ site.images_dir }}/nav/prensa.gif">
        </a>
        <a
            class="nav {% if page.name == 'mirar.html' %}active{% endif %}"
            id="mirar" href="mirar.html"
        >
            <img alt="Para mirar" src="{{ site.images_dir }}/nav/mirar.gif">
        </a>
        <a
            class="nav {% if page.name == 'catar.html' %}active{% endif %}"
            id="catar" href="catar.html"
        >
            <img alt="Para catar" src="{{ site.images_dir }}/nav/catar.gif">
        </a>
    </div>
</div> 

<div class="parallax-window">
    <div class="background parallax-far">
    </div>

    <div class="parallax-near">
        <div class="content-wrapper">
            {{ content }}

            <footer class="footer">
                <p class="centeralign">&copy; Ilustraciones y texto de Paloma Bordons </p>
            </footer>
        </div>
    </div>

</div>

</body>