body {
    margin: 0px;
    font-family: 'Alegreya', 'Georgia', serif;
    font-size: 1.2rem;
    min-height: 100vh;
    /* Apparently needed for parallax layers to work properly on Edge
    https://keithclark.co.uk/articles/practical-css-parallax/ */
    transform: translateZ(0);
}

.title, h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(87, 148, 184);
    margin: 50px 12%;
}

.single-col-margins {
    margin-left: 12%;
    margin-right: 12%;
}

.section-spacer {
    margin: 20px;
}

h3 {
    font-size: 2rem;
    color: rgb(87, 148, 184);
}

.parallax-window {
    position: relative;
    top: 95px;
    height: calc(100vh - 95px);
    perspective: 1px;
    perspective-origin: top;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-far, .parallax-near {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-near {
    transform: translateZ(0);
    min-height: calc(100vh - 95px);
}

.parallax-far {
    transform: translateZ(-1px) scale(2);
    transform-origin: top;
}

.background {
    background-image: url("/images/redesign/telon_claro.jpg");
    background-size: 100vw;
}

.content-wrapper {
    /* subtracting navbar, top margin of page and our wrapper's bottom padding */
    min-height: calc(100vh - 295px);
    position: relative;
    padding-bottom: 100px;
}

.page {
    background: #fbfcfc;
    border-radius: 8px;
    position: relative;
    width: 70%;
    min-width: 1050px;
    border: 10px solid #fbfcfc;
    min-height: auto;
    margin: 100px auto 0;
}

footer {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.firefox-fix {
    position: relative;
}