#catar {
    top:-5px;
}

.stretcher {
    max-height: 0px;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
    overflow: hidden;
}

#intro {
    text-indent: 30px;
    width:100%;
    overflow: auto;
}

#intro p {
    margin:0 100px 50px 150px;
}
    
#intro img {
    float:right;
    position: relative;
    margin-left: 50px;
}

.select-list {
    margin: 50px 100px 70px;
    text-align: center;
    /* eliminates auto whitespace between elements */
    font-size: 0pt;
}

.piece-button {
    display: inline-block;
    list-style-type: none;
    padding: 8px 10px 5px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: gray;
    cursor: pointer;
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.piece-button:hover {
    border-bottom-color: rgb(20, 92, 187);
    border-bottom-width: 3px;
    margin-bottom: -2px;
}

.piece-button--selected {
    border-bottom-color: rgb(87, 148, 184);
    border-bottom-width: 3px;
    margin-bottom: -2px;
}

small {
    display:block;
}

.page #tra, #page #ray {
    border-right-style:none;
}

.piece {
    width: 100%;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    text-align:center;
}

.speech {
    font-style:italic;
}

.lyric {
    text-align:center;
    display:block;
    font-style:italic;
}

.inpiece {
    display: inline-block;
    text-align: left;
    margin-bottom:50px;
}

.right {
    position: relative;
    left: 70px;
    float:right;
}

#medico p {
    float:left;
    white-space: nowrap;
}

.col1 {
    float:left;
    margin-right:40px;
}

.col2 {
    float:right;
}

.stanza {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stanza div {
    float:left;
    padding: 10px;
}

#traidor img {
    height: 15em;
}

.stanza-img-30 {
    object-fit: contain;
    width: 30%;
}

.stanza-img-20 {
    object-fit: contain;
    width: 20%;
}

.stanza-img-15 {
    object-fit: contain;
    width: 15%;
}

.none-selected {
    text-align: center;
    color: grey;
}