#page {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
}

.col {
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
  align-items: center;
  justify-content: center;
}

#firma img {
  width: 42vw;
}

.block {
  width: 100px;
  height: 100px;
}

.tile {
    width: 25vw;
    min-height: 0;  /* needed for firefox to do proper shrinking for some reason */
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

#left .tile {
    text-align: right;
}

#left .img-wrapper {
    align-items: right;
}

#right .tile {
    text-align: left;
}

#left .img-wrapper {
    align-items: left;
}

#middle .tile {
    text-align: center;
}

.tile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.tile:hover img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.label {
    font-size: 2em;
    padding: 0 10%;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.tile:hover .label {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#left .tile, #left .label {
    float: right;
}

#mirar-label {
    position: relative;
    bottom: 10%;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}