/* Some modifications to the column layout styles that I wrote for vida page and
 * then moved to base.css */

.col--text.col--50, .col--images.col--50 {
    width: 50%;
}

.single-col-margins .col-container {
    justify-content: start;
}

#retrato {
    width: 50%;
    margin: 0 auto;
}

.image-container {
    text-align: center;
}

.inline-image {
    width: 75%;
}