html {
    min-height: 100%;
}

body {
    margin: 0px;
    font-family: 'Alegreya', 'Georgia', serif;
    font-size: 13pt;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: url("/images/fondo2.png"); */
    background-image: url("/images/redesign/telon_claro.jpg");
    background-size: contain;
}

.content {
    min-height: 100vh;
    position: relative;
    background-image: url("/images/redesign/telon_claro.jpg");
    background-size: 100vw;
}

.page {
    background: #fbfcfc;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
    border: 10px solid #fbfcfc;
    height: auto;
}

.header-spacer {
    height: 110px;
    position: relative;
    top: 0;
}

.footer-spacer {
    height: 70px;
    position: relative;
    top: 0;
}

.title {
    font-size: 3.5em;
    font-weight: 1000;
    color: rgb(87, 148, 184);
    margin: 50px 150px;
}

.title img {
    margin: 30px
}
