#vida {
	top:-5px;
}

.page {
    width: 1050px;
}

.page p {
    margin-left: 25px;
    margin-right: 20px;
}

#title, #plumazo, #detalle {
	margin-bottom: 40px;
	margin-top: 20px;
}


#top {
	width: 1050px;
}

#top img {
	margin-top: 25px;
	margin-left: 80px;
}

.stuff {
	overflow: hidden;
	position: relative;
}

.left {
	width: 550px;
	height: 100%;
	float: left;
	position: relative;
}

.centre {
	position: absolute;
}

.right {
	width: 500px;
	float: right;
	position: relative;
}

#plumazo .right {
	float:left;
}

.right p {
	margin-right: 150px;
	margin-left:0;
}

#plumazo .left {
	width: 500px
}

#plumazo .left img {
	float: right;
	width: 260px;
	margin-right: 20px;
	margin-top: 50px;
}

#plumazo p {
	margin-right: 70px;
}	

#detalle .left {
	width: 248px;
	position: relative;
	float:left;
	padding-left: 57px;
}

#detalle .middle {
	width:400px;
	position: relative;
	float:left;
}

#detalle .right {
	width: 248px;
	position: relative;
	float:left;
	padding-right: 57px;
}

span {
	text-decoration: line-through;
}

.centre img {
	position:absolute; 
	top:0;
	bottom:0; 
	left:0; 
	right:0;
	margin:auto; 
}

.left div {
	overflow: hidden;
}
#detalle img {
	position: relative;
}
#nadie img {
	position: relative;
}

#bebe, #medalla, #pino1, #pino2, #llama, #maleta, #dibuja, #mundo, #gaviota, #fill, #silencio, #pelos, #vuela {
	margin: 10px auto;
	overflow: hidden;
	/*box-shadow: 2px 2px 2px;*/
}

#bebe {
	width: 245px;
	height: 245px;
	margin-top: 3em;
	-webkit-transform: rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	transform:rotate(-2deg);
	-webkit-backface-visibility: hidden;
}

#medalla {
	width: 230px;
	height: 392px;
	-webkit-transform: rotate(0.5deg);
	-moz-transform:rotate(0.5deg);
	-ms-transform:rotate(0.5deg);
	-o-transform:rotate(0.5deg);
	transform:rotate(0.5deg);
	-webkit-backface-visibility: hidden;
}

#medalla img {
	top:-245px;
}

#pino1 {
	width: 245px;
	height: 284px;
	margin-top: 10em;
	-webkit-transform: rotate(4deg);
	-moz-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	-o-transform:rotate(4deg);
	transform:rotate(4deg);
	-webkit-backface-visibility: hidden;
}

#pino1 img {
	top: -637px;
}

#pino2 {
	width: 245px;
	height: 332px;
	margin-top: 3em;
	-webkit-transform: rotate(-1deg);
	-moz-transform:rotate(-1deg);
	-ms-transform:rotate(-1deg);
	-o-transform:rotate(-1deg);
	transform:rotate(-1deg);
	-webkit-backface-visibility: hidden;
}

#pino2 img {
	top:-921px;
}

#llama {
	width: 245px;
	height: 458px;
	margin-top: 15em;
	-webkit-transform: rotate(-1deg);
	-moz-transform:rotate(-1deg);
	-ms-transform:rotate(-1deg);
	-o-transform:rotate(-1deg);
	transform:rotate(-1deg);
	-webkit-backface-visibility: hidden;
}

#llama img {
	top:-1253px;
}

#maleta {
	width: 240px;
	height: 249px;
	margin-top: 12em;
	-webkit-transform: rotate(2deg);
	-moz-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	transform:rotate(2deg);
	-webkit-backface-visibility: hidden;
}

#maleta img {
	top:-1711px;
}

#gaviota {
	width: 245px;
	height: 461px;
	margin-top: 12em;
	-webkit-transform: rotate(1deg);
	-moz-transform:rotate(1deg);
	-ms-transform:rotate(1deg);
	-o-transform:rotate(1deg);
	transform:rotate(1deg);
	-webkit-backface-visibility: hidden;
}

#gaviota img {
	top:-1960px;
}

#dibuja { 
	width: 245px;
	height: 286px;
	-webkit-transform: rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	transform:rotate(-2deg);
	-webkit-backface-visibility: hidden;
	margin-top: 10em;
}

#dibuja img {
	top:-2421px;
}

#mundo {
	width: 240px;
	height: 238px;
	margin-top: 10em;
	-webkit-transform: rotate(2deg);
	-moz-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	transform:rotate(2deg);
	-webkit-backface-visibility: hidden;
}

#mundo img {
	top:-2707px;
}	


#nadie .left {
	width: 500px;
}

#nadie .right {
	width: 550px;
}

#nadie p {
	margin-right: 150px;
}

#silencio {
	width: 193px;
	height: 250px;
	-webkit-transform: rotate(1deg);
	-moz-transform:rotate(1deg);
	-ms-transform:rotate(1deg);
	-o-transform:rotate(1deg);
	transform:rotate(1deg);
	-webkit-backface-visibility: hidden;
}

#silencio img {
	top: -2945px;
}

#pelos {
	width: 230px;
	height: 250px;
	margin-top: 3em;
	-webkit-transform: rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	transform:rotate(-3deg);
	-webkit-backface-visibility: hidden;
}

#pelos img {
	top: -3195px;
}

#vuela {
	width: 200px;
	height: 247px;
	margin-top: 3em;
	-webkit-transform: rotate(2deg);
	-moz-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	transform:rotate(2deg);
	-webkit-backface-visibility: hidden;
}

#vuela img {
	top: -3455px;
}

#nadie {
	margin-bottom: 50px;
}

#nadie .right img {
	margin-left:25px;
}
